.title {
    text-align: center;
}

.USData {
    width: 75%;
    height: 350px; 
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.UScurrentData {
    width: 25%;
    float: left;
}

.USaverageData {
    width: 25%;
    float: left;
    margin-left: 12%
}

.UStotalData {
    width: 25%;
    float: left;
    margin-left: 12%
}
