.stateName {
    text-align: center;
}

.link {
    text-align: center;
}

.stateList {
    margin-top: 20px;
    columns: 3;
    width: 60%;
    height: 342px;
    margin-left: auto;
    margin-right: auto;
}

.stateData {
    width: 75%;
    height: 350px; 
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.stateCurrentData {
    width: 25%;
    float: left;
}

.stateAverageData {
    width: 25%;
    float: left;
    margin-left: 12%
}

.stateTotalData {
    width: 25%;
    float: left;
    margin-left: 12%
}

.notes {
    margin-top: 50px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}