.stateCurrentData {
    border: 1px solid;
    width: 300px
}

.stateTotalData {
    border: 1px solid;
    width: 300px
}

.stateAverageData {
    border: 1px solid;
    width: 300px
}

.notes {
    border: 1px solid;
}